#menu ul {
    padding:0px;
    margin:0px;
    background-color:rgb(128, 19, 179);
    list-style:none;
}

#menu ul li{
    display: inline;
}

#menu ul li a {
    padding: 5px 10px;
    display: inline-block;

    background-color:rgb(178, 80, 214);
    color: rgb(6, 0, 88);
    text-decoration: none;
    border-bottom:4px solid rgb(167, 136, 182);
}

#menu ul li a:hover {
    background-color:rgb(100, 29, 50);
    color: rgb(102, 91, 150);
    border-bottom:4px solid rgb(22, 0, 100);
}

#tp1{
    background-color: rgb(212, 174, 210);
    border-style: solid ;
    border-color:rgb(128, 19, 179);
    position: absolute;
}

#tp2{
    background-color: rgb(212, 174, 210);
    border-style: solid;
    border-color:rgb(128, 19, 179);
    position: absolute;
}

#tp3{
    background-color: rgb(212, 174, 210);
    border-style: solid;
    border-color: rgb(128, 19, 179);
    position: absolute;
}

#fundo{
    background-color: rgb(197, 122, 192);
}
#linha{
    background-color: rgb(255, 122, 204);
}
